
<div class="login">
    <div class="login-container">
        <form action="">
            <h1 class="login-heading">Login</h1>
            <div class="form-group">
                <input type="text" class="form-input" placeholder="Username" name="username" id="username">
            </div>
            <div class="form-group">
                <input type="Password" class="form-input" placeholder="Password" name="password" id="password">
            </div>
            <button class="btn-pri" id="btn_login">
                Login
            </button>
            <div class="login-forgot"><a href="/forgot_password">Forgot password?</a></div>
            <p class="login-register">Don't have an account? <br> <a href="/register">Register now!</a> </p>
        </form>
    </div>
</div>
