<header class="header">
    <input type="checkbox" id="menu" class="header-checkbox">
    <div class="header-logo">
        Banking
    </div>
    <div class="header-menu">
        <label for="menu" class="header-menu-close">
            <ion-icon name="close"></ion-icon>
        </label>
        <ul class="header-list">
            <li class="header-item">
                <a href="/admin/home" class="header-link">Quản lý tài khoản</a>
            </li>

            <li class="header-item">
                <a href="/admin/pheduyetruttien" class="header-link">Quản lý giao dịch</a>
            </li>

            <li class="header-item">
                <a href="/logout" class="header-link">Đăng Xuất</a>
            </li>
        </ul>
        <div class="header-option">
            <ion-icon class="btn-option-header" name="settings-outline"></ion-icon>
            <ul class="header-option-menu">
                <li class="header-option-item">
                    <button data-toggle="modal" data-target="#change-pass">Change password</button>
                </li>
                <li class="header-option-item">
                    <button>Logout</button>
                </li>
            </ul>
        </div>
    </div>
    <label for="menu" class="back-drop"></label>
    <label for="menu" class="header-btn-menu">
        <ion-icon name="menu"></ion-icon>
    </label>

</header>